:root {
  --color-primary: #9ab958;
  --color-text: #abacae;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", "Open Sans", sans-serif;
}
